*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(28, 80, 149);
    font-family: serif;
}

.container {
    border: 2px solid rgb(47, 122, 221);
    color: rgb(1944, 194, 194);
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    max-width: 560px;
}
.cl{
    text-align: center;
}

section {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
}

.n{
    width: 50px;
    font-size: 30px;
    border-radius: 5px;
    border: 0;
    outline: none;
}

#submit{
    padding: 5px 10px 5px 10px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 230px;
    margin-top: 10px;
}

#asign {
    font-style: 20px;
}

p{
    font-size: 20px;
    text-align: center;
}

.getResult button {
    border: 0;
    font-size: 30px;
    color: navy;
    background-color: rgb(169, 255, 195);
    padding: 5px 10px;
}